# Ignore arquivos de configuração de ambiente
appsettings.json
appsettings.*.json
launchSettings.json

# Ignore pastas e arquivos de build
bin/
obj/

# Ignore arquivos do Visual Studio
.vscode/
*.user
*.suo